body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  background-color: #f0f0f0;
}

nav {
  background: radial-gradient(circle, red, #ff7e5f);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#div-center {
  display: flex;
  justify-content: center;
}

.a-white {
  color: white;
  align-self: center;
}

#div-inicio {
  background-image: url('assets/background-pizza.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#img-logo {
  width: 200px;
}

#h1-inicio {
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 1px black;
}

#p-inicio {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  text-shadow: 2px 2px 1px black;
}

#div-cardapio {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cardapio {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 20px;
}

.descricao {
  font-size: 14px;
}

.cardapio:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tab-link {
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

.tab-link:hover {
  background-color: #f0f0f0;
}

.tab-link.active {
  background-color: rgb(255, 49, 49);
  color: white;
}

.tab-content {
  display: none;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.tab-content.active {
  display: block;
  text-align: center;
  max-height: 100%;
  opacity: 1;
  transition: all 1.5s ease;
}

@media (max-width: 768px) {
  #img-logo {
      width: 150px;
  }

  #h1-inicio {
      font-size: 24px;
  }

  #p-inicio {
      font-size: 14px;
  }

  .tab-link {
    padding: 5px 10px;
  }

  .descricao {
    font-size: 12px;
  }
  
  .mb {
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  #img-logo {
      width: 120px;
  }

  #h1-inicio {
      font-size: 26px;
  }

  #p-inicio {
      font-size: 11px;
      margin-top: 20px;
  }

  .tab-link {
    padding: 5px 10px;
  }

  .descricao {
    font-size: 8px;
  }
}